.advantages__list-wrapper {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 287px;
  background-image: url("../../img/iphone-screen-mobile@1x.png"),
  url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 109%, 0 0;
  background-size: auto, 100%;
}

.advantages__lead {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: #283645;
  padding: 40px 58px 32px 58px;
  @include md {
    padding: 50px 20px 47px 20px;
    font-size: 40px;
    line-height: 48px;
  }
}

.advantages__lead-text {
  margin: 0;
  &:first-child {
    margin-bottom: 29px;
    @include md {
      margin-bottom: 0;
    }
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__description {
  margin: 0;
  margin-bottom: 31px;
}

.advantages__title {
  font-size: 18px;
  margin-bottom: 12px;
}
