.album__wrapper {
  @include md {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 620px;
  margin: 0 auto;
  }
  @include lg {
    width: 940px;
  }
}

.album__comment {
  width: 280px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 18px 10px 5px 18px;
  @include md {
    width: 300px;
    min-height: 155px;
  }
}

.album__comment--panorama {
  @include md {
    width: 620px;
  }
  @include lg {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    min-height: 95px
  }
}

.album__comment--panorama p {
  @include lg {
    margin: 0;
  }
}

.album__photo {
  margin: 0 auto;
  position: relative;
  &--panorama {
    &::before {
      content: "Панорама дня";
      position: absolute;
      width: 140px;
      height: 36px;
      text-align: center;
      padding-top: 6px;
      font-weight: 700;
      right: 20px;
      top: 0;
      font-size: 12px;
      line-height: 24px;
      color: #fff;
      text-transform: uppercase;
      background-color: #d22856;
    }
  }
  @include lg {
    margin: 0;
  }
}

.album__photo-image {
  margin: 0 auto;
  display: block;
  @include md {
    width: 300px;
  }
}

.album__photo-image--panorama {
  width: 100%;
  @include md {
  }
}


.album__user-name {
  font-weight: 700;
  color: #283645;
  @include lg {
    order: 1;
  }
}

.album__time {
  font-size: 12px;
  color: #283645;
  font-weight: 300;
  text-transform: uppercase;
  @include lg {
    order: 2;
  }
}

.album__comment-text {
  color: #283645;
  margin: 0;
  @include lg {
    order: 4;
  }
}

.album__likes {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 0;
    top: 4px;
    background-image: url("../../img/sprite-s.svg#icon-heart");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  @include lg {
    order: 3;
    margin: 0;
  }
}

.album__photo:not(:last-child) {
  margin-bottom: 20px;
}
