.application {
  position: relative;
  background-color: #1d2631;
}

.application__main-background {
  background-color: #474f58;
  position: relative;
  min-height: 396px;
  background-image: url("#{$path}iphone-hand-mobile@1x.png"), url("#{$path}bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 5% bottom, center bottom;
  background-size: auto, cover;

  @include retina {
    background-image: url("#{$path}iphone-hand-mobile@2x.png"), url("#{$path}bg-back-mobile@2x.jpg");
    background-size: 258px auto, 221%;
  }

  @include md {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("#{$path}iphone-hand-tablet@1x.png"), url("#{$path}bg-back-tablet@1x.jpg");
    background-position: center bottom, center bottom;
    background-size: auto, 182%;

    @include retina {
      background-image: url("#{$path}iphone-hand-tablet@2x.png"), url("#{$path}bg-back-tablet@2x.jpg");
      background-size: 700px auto, 182%;
    }
  }

  @include lg {
    background-image: url("#{$path}iphone-hand-desktop@1x.png"), url("#{$path}bg-back-desktop@1x.jpg");
    background-size: auto, 2560px;
    background-position: -30% bottom, center bottom;

    @include retina {
      background-image: url("#{$path}iphone-hand-desktop@2x.png"), url("#{$path}bg-back-desktop@2x.jpg");
      background-size: 1050px auto, 2560px;
      background-position: -30% bottom, center bottom;
    }
  }
}

.application__wrapper {
  margin: 0 auto;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 16px;
  width: 280px;

  @include md {
    padding-top: 54px;
    padding-bottom: 92px;
    position: relative;
    width: 340px;
    background-color: transparent;
    z-index: 2;
    margin: 0;
  }

  @include lg {
    width: 940px;
    padding-right: 640px;
    margin: 0 auto;
    padding-top: 167px;
    padding-bottom: 103px;
  }
}

.application__icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 21px;

  @include md {
    padding: 0 50px;
    margin-bottom: 36px;
  }

  @include lg {
    margin-bottom: 54px;
    padding: 0 30px;
  }
}

.application__available {
  font-weight: 300;

  @include md {
    font-size: 18px;
  }

  @include lg {
    margin-top: 50px;
  }
}

.application__lead {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  display: none;
  margin-bottom: 30px;

  @include md {
    display: block;
    padding: 0 50px;
  }

  @include lg {
    font-size: 50px;
    line-height: 60px;
    padding: 0 30px;
    margin-bottom: 53px;
  }
}

.application__button {
  display: inline-block;
  width: 280px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 14px 16px 17px 16px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  margin-bottom: 32px;

  &:hover {
    color: $pink;
    background-color: #ffffff;
  }

  &:active {
    background-color: #ffffff;
    color: rgba($pink, 0.3);
  }

  @include md {
    min-width: 300px;
    margin-bottom: 45px;
  }

  @include lg {
    font-size: 21px;
    margin-bottom: 69px;
  }
}

.application__icon {
  display: inline-block;
  background-repeat: no-repeat;
  margin: 0 10px;

  &--apple {
    width: 45.21px;
    height: 56.753px;
    background-image: url("#{$path}logo-apple.svg");
  }

  &--android {
    width: 42.084px;
    height: 47.041px;
    background-image: url("#{$path}logo-android.svg");
    margin-top: 7px;
  }

  &--windows {
    width: 43.922px;
    height: 41px;
    background-image: url("#{$path}logo-microsoft.svg");
    margin-top: 8px;
  }
}
