.application-type {
  border: 0;
  background-color: #f2f2f2;
}

.application-type__title {
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.application-type__radio {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
