.application {
  background-color: #1d2631;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.application__button a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
