.button-area {
  text-align: center;
}

.button-area__button {
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.button-area__notify {
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.button-area__star {
  color: #d22856;
}
