.emotion {
  padding-top: 32px;
  margin-bottom: 32px;
  @include md {
    order: 5;
    padding-top: 2px;
    margin-bottom: 67px;
  }
  @include lg {
    margin-bottom: 65px;
  }
}

.emotion__field {
  border: 0;
  width: 280px;
  margin: 0 auto;
  padding: 10px 0;
  @include md {
    width: 620px;
    border: 2px solid #e5e5e5;
    padding: 31px 57px 43px;
  }
  @include lg {
    width: 940px;
    padding: 28px 58px 37px;
  }
}

.emotion__title {
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  @include md {
    padding: 0 38px;
  }
}

.emotion__text::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.emotion__text {
  width: 100%;
  padding: 15px 18px 4px 18px;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  &:hover {
    border-color: $blue;
  }
  &:focus {
    border-color: $pink;
    outline: none;
  }
  @include md {
    padding-bottom: 0;
    padding-top: 14px;
  }
  @include lg {
    height: 128px;
  }
}
