.emotion {
  padding-top: 32px;
  margin-bottom: 32px;
  @include md {
    order: 5;
  }
}

.emotion__field {
  border: 0;
  width: 280px;
  margin: 0 auto;
  padding: 10px 0;
  @include md {
    width: 620px;
    border: 2px solid #e5e5e5;
    padding: 30px;
  }
  @include lg {
    width: 940px;
  }
}

.emotion__title {
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  @include md {
    padding: 0 20px;
  }
}

.emotion__text::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.emotion__text {
  width: 100%;
  padding: 15px 18px 22px 18px;
  border: 2px solid #e5e5e5;
}
