.feedback {
  line-height: 30px;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 44px;
}

.feedback__item {
  margin: 0;
}

.feedback__title {
  font-size: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}

.feedback__description {
  margin-top: 11px;
}
