.feedback {
  position: relative;
  line-height: 30px;
  text-align: center;
  padding-top: 42px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  z-index: 1;
  background-color: #ffffff;

  @include md {
    padding-top: 34px;
    padding-bottom: 14px;
    margin-bottom: 0;
  }

  @include lg {
    background-image: url("../../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 73px;
    padding-top: 176px;
    padding-bottom: 19px;
  }
}

.feedback__wrapper {
  width: 280px;
  margin: 0 auto;

  @include md {
    width: 620px;
  }

  @include lg {
    width: 950px;
    position: relative;
  }
}

.feedback__item {
  display: none;
  margin: 0;

  &--active {
    display: block;

    @include md {
      display: flex;
      flex-direction: column;
    }
  }
}

.feedback__list {
  @include lg {
    width: 690px;
    margin: 0 auto;
  }
}

.feedback__title {
  font-size: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  margin-bottom: 13px;

  @include md {
    font-size: 20px;
    margin-bottom: 2px;
  }

  @include lg {
    font-size: 24px;
  }
}

.feedback__title-description {
  color: #283645;
  display: none;
  margin: 0;
  margin-bottom: 23px;

  @include md {
    display: block;
  }

  @include lg {
    font-size: 18px;
  }
}

.feedback__description {
  margin-top: 11px;
  margin-bottom: 22px;

  @include md {
    font-size: 18px;
    order: -1;
    margin-bottom: 36px;
  }
}

.feedback__toggle {
  width: 12px;
  height: 12px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba($blue, 0.3);

  &:hover {
    background-color: rgba($blue, 0.6);
  }

  &:active {
    background-color: rgba($blue, 0.1);
  }

  &--active {
    border: 3px solid $blue;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }
}

.feedback__toggles-area {
  @include lg {
    display: none;
  }
}

.feedback__arrow {
  display: none;
  position: absolute;
  width: 21px;
  height: 41px;
  cursor: pointer;
  opacity: 0.3;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @include lg {
    display: block;
  }
}

.feedback__arrow--prev {
  background-image: url("../../img/icon-review-arrow-left.svg");
  top: 37px;
  left: 6px;
}

.feedback__arrow--next {
  background-image: url("../../img/icon-review-arrow-right.svg");
  top: 37px;
  right: 6px;
}
