.copyright__text {
  line-height: 18px;
  color: #283645;
}

.footer-inner {
  min-height: 285px;
  text-align: center;
}

.footer-inner__logo {
  display: inline-block;
  width: 146.3px;
  height: 40.375px;
  background-image: url("../../img/logo-pink-blue-mobile.svg");
}
