.form__text {
  width: 280px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 20px;
  @include md {
    font-size: 18px;
    width: 500px;
  }
  @include lg {
    width: 760px;
    margin-bottom: 30px;
  }
}

.form__text-hidden {
  display: none;
  @include md {
    display: inline;
  }
}

.form__inner-wrapper {
  @include md {
    display: flex;
    flex-direction: column;
  }
  @include lg {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
