.main-background {
  background-color: #474f58;
  position: relative;
  width: 320px;
  height: 396px;
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left bottom,
                       center bottom;
}
