.page-header {
  display: none;
}

// временно находится здесь
.dropdown-nojs {
  display: block;
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 17px;
  background-color: #283645;
  box-shadow: 0px 1px 0px 0px #000000;
  margin-bottom: 1px;
}

.page-header__toggle {
  width: 23.867px;
  height: 23.867px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
