.photo-load {
  background-color: #f2f2f2;
  padding: 20px 0;
  @include lg {
    width: 940px;
    margin: 0 auto;
  }
}

.photo-load__wrapper {
  width: 620px;
  margin: 0 auto;
  @include sm {
    width: 280px;
    margin: 0 auto;
  }
  @include lg {
    width: 770px;
  }
}

.photo-load__tools-list {
  position: relative;
}

.photo-load__picture {
  @include sm {
    margin-bottom: 32px;
  }
}

.photo-load__button {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 30px;
  width: 260px;
  padding: 14px 0;
  margin-left: 2px;
  @include sm {
    width: 280px;
    margin: 0;
  }
  @include lg {
    width: 183px;
  }
}

.photo-load__button:first-child {
  margin-bottom: 25px;
  @include sm {
    margin-bottom: 12px;
  }
  @include lg {
    margin-right: 25px;
  }
}

.photo-load__button:disabled {
  color: rgba(#283645, 0.1);
  border-color: rgba(#283645, 0.1);
}

.photo-load__image {
  width: 300px;
  display: block;
  @include sm {
    width: 280px;
  }
}

.photo-load__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include sm {
    flex-direction: column;
  }
}

.photo-load__tools-wrapper {
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include lg {
    width: 412px;
  }
}

.photo-load__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 17px;
  align-items: center;
  padding: 8px 0 16px 2px;
  border-bottom: 1px solid #dddfe0;
  @include sm {
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 51px;
  }
}

.photo-load__item-wrapper svg {
  width: 24px;
  height: 24px;
  @include sm {
    width: 48px;
    height: 48px;
  }
}

.photo-load__item-wrapper--contrast svg {
  width: 16px;
  height: 16px;
  @include sm {
    width: 32px;
    height: 32px;
  }
}

.photo-load__item-wrapper--fill {
  padding-left: 3px;
  @include sm {
    top: 10px;
    right: 111px;
  }
}

.photo-load__item-wrapper--contrast {
  padding-left: 8px;
  padding-bottom: 20px;
  @include sm {
    top: 16px;
    right: 39px;
  }
}

.photo-load__item-wrapper--fill,
.photo-load__item-wrapper--contrast {
  @include sm {
    padding: 0;
    margin: 0;
    position: absolute;
  }
}

.photo-load__control-bar {
  position: relative;
  margin-right: 18px;
  padding-bottom: 6px;
}

.photo-load__control-scale {
  height: 2px;
  width: 202px;
  background-color: $blue;
  @include sm {
    width: 240px;
  }
}

.photo-load__control-image {
  position: absolute;
  cursor: pointer;
  width: 14px;
  height: 14px;
  top: -6px;
  background-color: #f2f2f2;
  border: 2px solid #cd2856;
  border-radius: 50%;
}

.photo-load__item-wrapper--crop {
  .photo-load__control-image {
    right: 42px;
    @include sm {
      right: 33px;
    }
  }
}

.photo-load__item-wrapper--fill {
  .photo-load__control-image {
    left: 25px;
  }
}

.photo-load__item-wrapper--contrast {
  .photo-load__control-image {
    left: 96px;
  }
}

.photo-load__item-wrapper--fill,
.photo-load__item-wrapper--contrast {
  .photo-load__control-bar {
    @include sm {
      display: none;
    }
  }
}

.photo-load__item-wrapper--crop {
  @include sm {
    align-items: flex-start;
    .photo-load__tool-item {
      margin-left: 34px;
      margin-bottom: 30px;
    }
    .photo-load__control-bar {
      margin: 0;
      margin-left: 18px;
    }
  }
}
