.photo-page__lead-text,
.photo-page__leadend-text {
  line-height: 30px;
  text-align: center;
  color: #283645;
  @include md {
    font-size: 18px;
  }
}

.photo-page__lead {
  padding: 32px 0 36px 0;
  width: 280px;
  margin: 0 auto;
  @include md {
    width: 438px;
  }
  @include lg {
    width: 580px;
    margin-bottom: 40px;
  }
}

.photo-page__leadend {
  width: 280px;
  margin: 0 auto;
  padding: 25px 0 29px 0;
  @include md {
    width: 422px;
  }
}
