.photo-load {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.photo-load__wrapper {
  width: 280px;
  margin: 0 auto;
}

.photo-load__button {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  color: #d22856;
  border: 3px solid #d22856;
  border-radius: 30px;
  width: 280px;
  padding: 15px 0;
  margin-bottom: 12px;
}

.photo-load__button:disabled {
  color: rgba(#283645, 0.1);
  border-color: rgba(#283645, 0.1);
}

.photo-load__image {
  display: block;
  margin-bottom: 20px;
}
