.pop-up {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  display: none;
}

.pop-up__close {
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  padding: 17px 0 16px 0;
  border-radius: 3px;
  width: 280px;
  &:hover {
    background-color: #1c9b5e;
  }
  &:active {
    color: rgba(#ffffff, 0.3);
  }
  &[disabled] {
    background-color: #e5e5e5;
  }
}

.pop-up__title {
  font-size: 18px;
  font-weight: 700;
}

.pop-up__text {
  color: #283645;
}
