.pop-up {
  text-align: center;
}

.pop-up__close {
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.pop-up__title {
  font-size: 18px;
  font-weight: 700;
}

.pop-up__text {
  color: #283645;
}
