.science {
  position: relative;
  width: 620px;
  display: none;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
  @include md {
    display: block;
  }
}

.science__wrapper {
  width: 620px;
  background-image: url("../../img/icon-editor-diagram-fill.svg"), url("../../img/icon-timer.svg");
  background-repeat: no-repeat;
  padding-top: 46px;
  padding-bottom: 40px;
  background-size: 202px 202px, 238px 276px;
  background-position: 19px 64px, 1px 8px;
  &::after {
    position: absolute;
    content: "24";
    font-size: 96px;
    line-height: 96px;
    font-weight: 700;
    color: #d22856;
    top: 162px;
    left: 64px;
  }
}

.science__description {
  width: 296px;
  margin: 0 15px 0 auto;
}

.science__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.science__text {
  color: #283645;
  margin: 0;
  margin-bottom: 10px;
}

.science__link {
  color: #d22856;
  text-decoration: underline;
}
