.tariffs {
  background-color: #f2f2f2;
  padding: 91px 0 43px 0;
  width: 100%;
  overflow: hidden;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position: -5px 0;
  @include md {
    padding-top: 88px;
    padding-bottom: 35px;
  }
  @include lg {
    padding-top: 148px;
    padding-bottom: 63px;
  }
}

.tariffs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include md {
    width: 620px;
    display: block;
    margin: 0 auto;
  }
  @include lg {
    width: 940px;
  }
}

.tariffs__list {
  border-collapse: collapse;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.tariffs__list-head {
  background-color: $blue;
  color: #ffffff;
}

.tariffs__list-body {
  background-color: #ffffff;
  color: $blue;
}

.tariffs__name {
  font-size: 18px;
  padding-top: 19px;
  @include md {
    font-size: 16px;
    padding-top: 15px;
  }
  @include lg {
    font-size: 18px;
    padding-top: 20px;
  }
  &--hit {
    position: relative;
    &::before {
      content: "хит";
      position: absolute;
      top: 15px;
      left: 9px;
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      transform: rotate(-45deg);
      z-index: 3;
      @include md {
        top: 7px;
        left: 7px;
      }
      @include lg {
        top: 14px;
        left: 10px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 74px;
      height: 73px;
      background-image: url("../../img/bg-hit.svg");
      background-repeat: no-repeat;
      top: 0;
      left: -2px;
      @include md {
        width: 61px;
        height: 61px;
        background-image: url("../../img/bg-hit-tablet.svg");
        left: 0;
      }
      @include lg {
        width: 74px;
        height: 73px;
        background-image: url("../../img/bg-hit.svg");
      }
    }
  }
}

.tariffs__name:nth-child(1n+3) {
  border-left: 2px solid #e5e5e5;
}

.tariffs__name:nth-child(2) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tariffs__name:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tariffs__name p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 22px;
  @include md {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 12px;
  }
  @include lg {
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 22px;
  }
}

.tariffs__name, .tariffs__option {
  min-width: 278px;
  @include md {
    min-width: 155px;
  }
  @include lg {
    min-width: 235px;
  }
}

.tariffs__option {
  border: 2px solid #e5e5e5;
  border-top: none;
  padding: 18px 20px 17px 21px;
  @include md {
    padding: 10px 20px 11px 15px;
  }
  @include lg {
    font-size: 18px;
    padding: 17px 20px 19px 22px;
  }
}

.tariffs__name--mob-hidden {
  background-color: #f2f2f2;
  border: none;
}

.tariffs__option--mob-hidden, .tariffs__name--mob-hidden {
  display: none;
  @include md {
    display: table-cell;
  }
}

.tariffs__option--mob-hidden {
  @include md {
    border-top: 2px solid #e5e5e5;
    text-transform: none;
  }
}

.tariffs__option--tab-hidden {
  @include md {
    font-size: 0;
    line-height: 0;
  }
}

.tariffs__option--yes {
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 32px 23px;
  background-position: 229px 18px;
  @include md {
    background-position: 62px 10px;
  }
  @include lg {
    background-position: 101px 21px;
  }
}

.tariffs__option--no {
  background-image: url("../../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 230px 15px;
  @include md {
    background-position: 64px 8px;
  }
  @include lg {
    background-position: 103px 16px;
  }
}

.tariffs__toggle {
  width: 12px;
  height: 12px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #bec2c7;
  &--active {
    border: 3px solid $blue;
    background-color: transparent;
  }
  @include md {
    display: none;
  }
}
